COMPOSE_PROJECT_NAME=enerlytica-modernization-demo
NGINX_PORT=80
POSTGRES_DB=enerlytica
POSTGRES_USER=enerlytica
POSTGRES_PASSWORD=enerlytica
POSTGRES_PORT=5432
PYTHON_API_PORT=8000
PHP_FPM_PORT=9000
